<div class="card">
      <div class="card-body">

          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fname</th>
              <th scope="col">Lname</th>
              <th scope="col">Email</th>
              <th scope="col">Avatar</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">{{ std.id }}</th>
              <td>{{ std.first_name}}</td>
              <td>{{ std.last_name}}</td>
              <td>{{ std.email}}</td>
              <td><img src={{std.avatar}} ></td>
              
            </tr>
            </tbody>
          </table>

      </div>
    </div>
